.rootCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
a {
  text-decoration: none;
}
.nameCont {
  width: 100%;
  font-size: 50px;
  font-weight: 800;
  color: rgb(14, 36, 49);
  max-height: 60vh;
}
.nameCont * {
  margin: 10px 0;
}
.nameCont p span {
  color: rgb(8, 111, 143);
}
.heroImg {
  width: 100%;
  border-radius: 5px;
}
.linkDiv {
  cursor: pointer;
  background-color: rgb(8, 111, 143);
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  height: 30px;
  margin: auto;
  width: 100px;
  text-align: center;
}
.linkDiv:hover {
  background-color: rgb(14, 129, 165);
}
.linkDiv p {
  margin: 10px;
}
@media only screen and (max-width: 1024px) {
  .nameCont {
    font-size: 30px;
  }
}
@media only screen and (max-width: 720px) {
 .nameCont {
     font-size: 20px;
  }
}
