.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 120px;
  margin: 20px auto;
  padding-top: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
